### JetBrains
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
*.imw

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/libraries
.idea/sonarlint

# Plugin-specific files:
out
build
gradle
.gradle

### OSX template
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*
.attach*

# GoLang
src/main/go/pkg/*

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test


